body {
font-family: "Segoe UI", sans-serif;
background: #ffffff;
color: #333;
}
/* Botones */
.btn-custom {
  background: linear-gradient(135deg, #EC3237, #D62F34);
   color: #fff !important;  
  border-radius: 12px;
  padding: 14px 28px;  /* más grande */
  font-size: 1.1rem;  /* aumenta la letra */
  font-weight: 600;
  transition: all 0.3s ease !important;
}
.btn-custom:hover {
  background: linear-gradient(135deg, #9a0d14, #bc1018);
  transform: scale(1.08);
}

.darkModeToggle{
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  margin-right: 16px;
  width: 36px;
  height: 36px;
  transition: all ease 0.3s;
}

.darkModeToggle:hover {
  background-color: #cb234a;
  color:white ;
}

.shopCarButton{
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  margin-right: 16px;
  width: 36px;
  height: 36px;
  transition: all ease 0.3s;
}

.shopCarButton:hover{
  background-color: #cb234a;
  color:white ;
}

/* Hero */
.hero {
background: #F9F9F9;
padding: 60px 0;
}
.hero h1 {
font-size: 2.5rem;
line-height: 1.3;
}
.hero img {
border: 5px solid #EC3237;
transition: transform 0.4s ease;
}
.hero img:hover {
transform: scale(1.05);
}

/* Categorías */
section.py-5 {
background: linear-gradient(180deg, #ffffff, #f8fafa);
}
.card {
border: none;
border-radius: 20px;
box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
transform: translateY(-10px) scale(1.03);
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.card-body i {
font-size: 2.2rem;
color: #1a7d7c;
transition: color 0.3s ease;
}
.card-body i:hover {
color: #bc1018;
}
.categoria-img {   
  height: 210px;     
  object-fit: cover; 
  border-radius: 12px; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  object-fit: cover;     
  border-bottom: 3px solid #1A7D7C; 
}

/* Sección contacto */
.contacto-hero {
  position: relative;
  height: 400px;
  background: url('../img/contacto-back.jpg') no-repeat center center/cover; 
}
.contacto-hero .overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
}

.contacto-hero .content {
  position: relative;
  z-index: 2;
}

/* Badges personalizados */
.badge.bg-primary-custom {
background-color: #bc1018;
}
.badge.bg-success-custom {
background-color: #1a7d7c;
}
.badge.bg-accent {
background-color: #659592;
}