.card {
  border-radius: 15px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  object-fit: contain;
  height: 180px;
}
.badge-categoria {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #28a745; 
  color: #fff;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
/* Título con gradiente */
.titulo-gradiente {
  font-size: 2.2rem;
  font-weight: 800;
  background: linear-gradient(90deg, #EC3237, #bc1018);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Hacer los botones de categorías más grandes */
.btn-lg {
  font-size: 1.1rem;
  padding: 10px 22px;
}
